sgd/reproduction/playground/flows/SMAX_PS_IP_Calculate_IP_Count_On_Delete.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Count_To_Variable</name>
        <label>Assign Count To Variable</label>
        <locationX>519</locationX>
        <locationY>285</locationY>
        <assignmentItems>
            <assignToReference>CountOfComponents</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>StoreComponents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Top_Level_IP</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>IncrementCounter</name>
        <dataType>Number</dataType>
        <expression>{!$Record.SVMXC__Parent__r.SMAX_PS_IP_Count__c}-1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>SMAX_PS_IP_Calculate IP Count on Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMAX_PS_IP_Calculate IP Count On Delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Components</name>
        <label>Get Components</label>
        <locationX>508</locationX>
        <locationY>152</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Count_To_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SVMXC__Parent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SVMXC__Parent__c</elementReference>
            </value>
        </filters>
        <object>SVMXC__Installed_Product__c</object>
        <outputReference>StoreComponents</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Top_Level_IP</name>
        <label>Update Top Level IP</label>
        <locationX>520</locationX>
        <locationY>445</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SVMXC__Parent__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SMAX_PS_IP_Count__c</field>
            <value>
                <elementReference>CountOfComponents</elementReference>
            </value>
        </inputAssignments>
        <object>SVMXC__Installed_Product__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Components</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SVMXC__Parent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SVMXC__Installed_Product__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CountOfComponents</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>StoreComponents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SVMXC__Installed_Product__c</objectType>
    </variables>
</Flow>
