sgd/reproduction/playground/flows/SMAX_PS_SQ_Update_Payment_Terms.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Update_Payment_Terms</name>
        <label>Assign Update Payment Terms</label>
        <locationX>700</locationX>
        <locationY>348</locationY>
        <assignmentItems>
            <assignToReference>$Record.SMAX_PS_Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SVMXC__Company__r.SMAX_PS_Payment_Terms__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Company</name>
        <label>Check Company</label>
        <locationX>513</locationX>
        <locationY>345</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXC__Company__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Update_Payment_Terms</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Is New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Updated_Company</name>
        <label>Is Updated Company</label>
        <locationX>745</locationX>
        <locationY>173</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Company_Is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Quote_Record.SVMXC__Company__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SVMXC__Company__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Update_Payment_Terms</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Company Is Changed</label>
        </rules>
    </decisions>
    <interviewLabel>SMAX_PS_SQ_Update Payment Terms {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMAX_PS_SQ_Update Payment Terms</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Service_Quote_Record</name>
        <label>Get Service Quote Record</label>
        <locationX>520</locationX>
        <locationY>169</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Updated_Company</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Check_Company</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SVMXC__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Service_Quote_Record</targetReference>
        </connector>
        <object>SVMXC__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
