sgd/reproduction/playground/flows/SMAX_PS_IP_Calculate_IP_Count.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Count_Of_Old_And_New_Components</name>
        <label>Assign Count Of Old And New Components</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>CountOfOldComponents</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>StoreOldComponents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Old_Parent_IP_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_To_Variable</name>
        <label>Assign Count To Variable</label>
        <locationX>270</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>CountOfComponents</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>StoreComponents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Top_Level_IP</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Criteria</name>
        <label>Check Criteria</label>
        <locationX>270</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Parent_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.SVMXC__Parent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SVMXC__Parent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SVMXC__Parent__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Components_of_Old_Parent</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Is Parent Changed</label>
        </rules>
        <rules>
            <name>IsNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Components</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>IsNew</label>
        </rules>
    </decisions>
    <interviewLabel>SMAX_PS_IP_Calculate IP Count {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMAX_PS_IP_Calculate IP Count</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Components</name>
        <label>Get Components</label>
        <locationX>270</locationX>
        <locationY>887</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Count_To_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SVMXC__Parent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SVMXC__Parent__c</elementReference>
            </value>
        </filters>
        <object>SVMXC__Installed_Product__c</object>
        <outputReference>StoreComponents</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Components_of_Old_Parent</name>
        <label>Get Components of Old Parent</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Count_Of_Old_And_New_Components</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SVMXC__Parent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.SVMXC__Parent__c</elementReference>
            </value>
        </filters>
        <object>SVMXC__Installed_Product__c</object>
        <outputReference>StoreOldComponents</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Old_Parent_IP_Count</name>
        <label>Update Old Parent IP Count</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Get_Components</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.SVMXC__Parent__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SMAX_PS_IP_Count__c</field>
            <value>
                <elementReference>CountOfOldComponents</elementReference>
            </value>
        </inputAssignments>
        <object>SVMXC__Installed_Product__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Top_Level_IP</name>
        <label>Update Top Level IP</label>
        <locationX>270</locationX>
        <locationY>1127</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SVMXC__Parent__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SMAX_PS_IP_Count__c</field>
            <value>
                <elementReference>CountOfComponents</elementReference>
            </value>
        </inputAssignments>
        <object>SVMXC__Installed_Product__c</object>
    </recordUpdates>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SVMXC__Parent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SVMXC__Installed_Product__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CountOfComponents</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CountOfOldComponents</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>StoreComponents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SVMXC__Installed_Product__c</objectType>
    </variables>
    <variables>
        <name>StoreOldComponents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SVMXC__Installed_Product__c</objectType>
    </variables>
</Flow>
